body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    transition: 0.3s;
}

.container {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #0078D4;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005a9e;
}

/* Modo oscuro */
.dark {
    background-color: #121212;
    color: white;
}